@charset "UTF-8";
@font-face {
    font-family: 'SNES';
    src: url(fontes/SNES\ Italic.ttf);
}

body{
    background-color: black;
}
main{
}

header{
    background-color: rgb(252, 252, 121);

    margin: auto;
    margin-top: 40px;
    max-width: 500px;
    min-width: 320px;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 7px;
    text-align: center;
}

body > main > header > h1{
    display: inline;
    background-color: #fff;
    font-family: 'SNES';
    font-weight: lighter;

    padding: 4px;
    border-radius: 7px;
    border: 1px solid black;
}
body > main > header > a > img#iconeHTML{
    float: left;
    max-width: 86px;
    min-width: 86px;
}
body > main > header > a > img#iconeCSS{
    float: right;
    max-width: 80px;
    min-width: 80px;
}