@charset "UTF-8";
@font-face {
    font-family: 'SNES';
    src: url(fontes/SNES\ Italic.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap');
/* font-family: 'Gorditas', cursive; */

body{
    background-color: black;
}

header{
    background-color: rgb(252, 252, 121);

    margin: auto;
    margin-top: 40px;
    max-width: 500px;
    min-width: 320px;
    padding: 20px;
    padding-bottom: 100px;
    border-radius: 7px;
    text-align: center;
}

body > main > header > h1{
    display: inline;
    background-color: #fff;
    font-family: 'Gorditas', cursive;
    font-weight: lighter;

    padding: 4px;
    border-radius: 7px;
    border: 1px solid black;
}
body > main > header > a > img#iconeHTML{
    float: left;
    max-width: 86px;
    min-width: 86px;
}
body > main > header > a > img#iconeCSS{
    float: right;
    max-width: 80px;
    min-width: 80px;
}



body > main > article{
    background-color: lightpink;

    padding: 5px 15px;
    border-radius: 7px;


    margin: auto;
    max-width: 450px;
    min-width: 320px;
}
body > main > article > h1{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    border: 1px solid black;

    padding: 3px;
    border-radius: 7px;
    text-align: center;
}
body > main > article > div{
    text-align: center;
}
body > main > article > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 20px;
}
/* 
#htmlIMG{
    max-width: 156px;
    min-width: 156px;
} */
#cssIMG{
    max-width: 156px;
    min-width: 156px;
}

body > main > article > a > img{
    max-width: 100px;
    min-width: 100px;
}
#botão{
    margin-top: 10px;
    max-width: 100px;
    min-width: 100px;
}
